---
layout: layouts/common.ejs
---

<div>
    <h1 class="underline text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:leading-14;  ">
        <a href="/">
            <svg style="float:left; margin-right: 20px;position: relative; top: -4px; " enable-background="new 0 0 64 64" height="64px" version="1.1" viewBox="0 0 64 64" width="64px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_1"><g><circle cx="31.833" cy="32" fill="#77B3D4" r="32"/></g><g opacity="0.2"><path d="M52,48c0,1.105-0.895,2-2,2H14c-1.105,0-2-0.895-2-2l0,0c0-1.105,0.895-2,2-2h36    C51.105,46,52,46.895,52,48L52,48z" fill="#231F20"/></g><g><path d="M52,46c0,1.105-0.895,2-2,2H14c-1.105,0-2-0.895-2-2l0,0c0-1.105,0.895-2,2-2h36    C51.105,44,52,44.895,52,46L52,46z" fill="#E0995E"/></g><g><path d="M23,20h-4c-1.657,0-3,1.343-3,3v17v1v3h3h4h3v-3v-1V23C26,21.343,24.657,20,23,20z" fill="#C75C5C"/></g><g><path d="M45,16h-4c-1.657,0-3,1.343-3,3v21v1v3h3h4h3v-3v-1V19C48,17.343,46.657,16,45,16z" fill="#E0E0D1"/></g><g><rect fill="#E0995E" height="3" width="10" x="16" y="24"/></g><g><rect fill="#E0995E" height="3" width="10" x="16" y="37"/></g><g><rect fill="#FFFFFF" height="3" width="10" x="38" y="37"/></g><g><rect fill="#FFFFFF" height="3" width="10" x="38" y="20"/></g><g><g opacity="0.2"><path d="M40,40V16.184c-1.163,0.413-2,1.512-2,2.816v21v1v3h2v-3V40z" fill="#231F20"/></g><g opacity="0.2"><path d="M26,40V23c0-1.304-0.837-2.403-2-2.816V40v1v3h2v-3V40z" fill="#231F20"/></g></g><g><path d="M35,12h-6c-1.657,0-3,1.343-3,3v25v1v3h3h6h3v-3v-1V15C38,13.343,36.657,12,35,12z" fill="#4F5D73"/></g><g><rect fill="#76C2AF" height="3" width="12" x="26" y="16"/></g><g><rect fill="#76C2AF" height="3" width="12" x="26" y="37"/></g></g><g id="Layer_2"/></svg>
            Welcome to Library Phil </a></h1>
    <br />
    <p>Welcome! This website explores the intersection between Libraries and Technology. I'm Phil (Philip Andrew),
        currently studying <a
                href="https://www.tafensw.edu.au/course/-/c/c/BSB31215-01/Certificate-III-in-Library-and-Information-Services">Certificate
            III in Library and Information Services</a>.
        I'm also a member of the <a href="https://www.alia.org.au/">ALIA (Australian Library and Information
            Services).</a><br />
        Try my <a href="#">Marc21 encoder tool &rarr;</a> to convert from a book entry to the Marc21 format.
    </p>
    <%- content; %>
</div>
<div class="text-base font-bold sm:text-lg">
    <p>Wish to contact me?</p>
    <p>
        <a href="#" class="text-cyan-600 hover:text-cyan-700"> Email Me &rarr; </a>
        <a href="https://twitter.com/library_phil" class="text-cyan-600 hover:text-cyan-700"> Twitter &rarr; </a>
        <a href="https://www.facebook.com/Library-Phil-101422752088709" class="text-cyan-600 hover:text-cyan-700"> Facebook &rarr; </a>
        <a href="https://www.youtube.com/channel/UC0P5sX7BHk3lgaF_DWtlxGA" class="text-cyan-600 hover:text-cyan-700"> Youtube &rarr; </a>
    </p>
</div>
<div class="text-base">
    <h1 class="text-base font-bold sm:text-lg">How was this website made?</h1>
    <p>
        This website intentionally has a visually simple design which works on Mobile and Desktop. For the content it uses <a href="https://www.netlify.com/">Netlify</a> as the CMS (Content Management System) using the <a href="https://jamstack.org/">JamStack</a> concept and all the content of the website
        is stored publicly at github here <a href="https://github.com/PhilAndrew/libraryphil.com">https://github.com/PhilAndrew/libraryphil.com</a>. Netlify
        allows editing of the content within the CMS but it submits the edited content to github which triggers a build and re-deployment of the
        static website. The website uses the Tailwind CSS Framework and is all based upon <a href="https://github.com/ixartz/Eleventy-Starter-Boilerplate">https://github.com/ixartz/Eleventy-Starter-Boilerplate</a>.
    </p>
</div>
